@import "tailwindcss";

@source "../views";

@theme {
  --important: .filament-release-notes;
  --dark-mode: class;
}

@layer base {
  /* Disable preflight */
  *, ::before, ::after {
    all: revert;
  }
}
